.footer{
    background-color: #363636;
    max-width: 100%;
    padding: 60px;
    display: flex;
  font-family: "Poppins", sans-serif;
    flex-direction: column;
    align-items: center;
    .footer-top{
        display: flex;
        flex-direction: row;
        max-width: 50%;
        justify-content: space-between;
        .txt{
            margin: 50px;
            color: #f4f4f4;
            h1{
                font-size: 16px;
            }
            ul{
                li{
                    color:#a1a1a1;
                    margin: 5px;
                }
            }
        }
    }
    .footer-bottom{
        p{
            color: #a1a1a1;
            font-size: 12px;
        }
    }
}