.add {padding: 150px ;
    .form{
        padding: 50px;
    }
  .table {
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      td,
      th {
        border: 1px solid #ff2200;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    }
  }
}
